.header {
    display: flex;
    height: 50px;
    align-items: flex-start;
}

.logo-container {
    margin-right: auto;
    width: min-content;
}

.logo-type {
    font-size: var(--font-size-xlarge);
}

.nav-container {

}

.nav-list-item {

}

.menu-icon {

}